<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>959426188245-epmq8jo2jr996v7llfk3ev1r1mh9lsqo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.959426188245-epmq8jo2jr996v7llfk3ev1r1mh9lsqo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>959426188245-fhl4i2dm48k1k1r95btrhto88dlq4l22.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyArAvmyQMbn5hg5Fk6NKzki2Wk5IrIofF8</string>
	<key>GCM_SENDER_ID</key>
	<string>959426188245</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cameraExample</string>
	<key>PROJECT_ID</key>
	<string>roomr-222721</string>
	<key>STORAGE_BUCKET</key>
	<string>roomr-222721.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:959426188245:ios:c651c5b48ec9b13650a35c</string>
	<key>DATABASE_URL</key>
	<string>https://roomr-222721.firebaseio.com</string>
</dict>
</plist>